<div class="col-main-body bottom-border">
  <h1>Order Complete!</h1>
  <div class="col-sm-6 right-border">
    {{#each model.lineItems as |lineItem|}}
      {{line-item model=lineItem}}
    {{/each}}
    <div class="row-line-item text-medium">
      <div class="col-sm-7 line-item">
        <div class="checkout">
          <span class="upcase">total</span>
          <span class="price">{{model.displayTotal}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>Delivery</h3>
    {{partial "partials/turnaround"}}
  </div>
</div>
