<div class="col-main-body bottom-border">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="col-sm-6">
      {{render "address" model.shipAddress}}
    </div>
    <div class="col-sm-6">
      {{render "address" model.billAddress}}
    </div>
  </div>
</div>
<div class="col-main-body">
  {{#each model.shipments as |shipment|}}
    {{render "shipment" shipment}}
  {{/each}}
</div>
<div class="col-main-body">
  <button {{action "completeCheckoutShipping"}} class="btn btn-black">
    continue
  </button>
</div>
