<div class="catalogue-item-image">
  <img src='{{activeSlide.largeUrl}}' />
</div>
<div class="catalogue-item-thumbs">
  {{#each thumbnails as |thumbnail|}}
    {{carousel-thumbnail classNames="thumb" miniUrl=thumbnail.miniUrl index=thumbnail.index activeIndex=thumbnail.activeIndex action="setSlide"}}
  {{/each}}
</div>
