<!DOCTYPE html>
<html>
<head>
  <title>Trash Messenger Bags</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "spree-ember-example/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Hello Ember!</h1>
</body>
</html>