<p>
  Turn around time on your order varies depending on what and how much we have on order at any given point in the year. General guidelines should be about 2 weeks for smaller items (apparel, utilities) and 3 to 6 weeks for full size bags. Custom Art may add further time to your order turn around. If you have special considerations for your order time frame, or would simply like an estimate of turnaround before ordering, please email <a href='mailto:andy@trashmessengerbags.com'>andy@trashmessengerbags.com</a> and I'll promptly respond.
</p>
<p>
  When you place an order we will be in touch to give you an expectation for when it should be finished. We don't charge to rush orders out of fairness to all people waiting for custom bags. If having a new bag immediately is of paramount importance, please look at what we have in stock.
</p>
<p>
  We're always doing our best to get you your order as quickly as we can, but please keep in mind that we aren't a factory; when you place your order with Trash Bags you are helping to support four craftspeople working to make you exactly what you ordered with great care. Making bags the Trash Bags way takes time, but we strongly believe the craftsmanship and durability makes them worth the wait--- take care of these bags and they will last you a lifetime
</p>
