<div class="row about-row">
  <div class="col-xs-12 no-padding about-banner">
    <img src="<%= asset_path('about/about-1.png') %>" class="img-responsive" />
  </div>
</div>
<div class="row about-row">
  <div class="col-sm-6 col-sm-offset-1">
    <p>
      Trash Bags was started in 2008 by me, Andy Larson, a longtime (and now retired) bike messenger (12 years) from Minneapolis, MN.  Over the course of my courier career I used a variety of different bags. From old army issue backpacks to modern courier bags, each seemed to lack something in usability, be it ‘haulability’, comfort, or toughness.  I set out to make a messenger bag that was not only rugged tough and waterproof, but also comfortable and able to carry cargo - big and small, from envelopes to file boxes to food orders. With these goals in mind, Trash Bags was born.
    </p>
  </div>
  <div class="col-sm-4">
    <h3 class="top-border flush upcase">contact</h3>
    <span class="contact-header gray">All USA Inquries / questions in English:</span>
    <br />
    <span class="contact-body">andy@trashmessengerbags.com</span>
    <br />
    <span class="contact-header gray">日本語でのお問い合わせはこちらまでご連絡下さい</span>
    <br />
    <span class="contact-body">ryota@trashmessengerbags.com</span>
    <br />
  </div>
</div>
<div class="row about-row">
  <div class="col-xs-12 no-padding about-banner">
    <img src="<%= asset_path('about/about-2.jpg') %>" class="img-responsive" />
  </div>
</div>
<div class="row about-row">
  <div class="col-sm-6 col-sm-offset-1">
    <h3>These bags are tested and retested.</h3>
    <p>
      I won’t let a bag design out of the shop without it passing extensive testing.   Every design is tested in shop, and on the streets of Minneapolis.  If it's in the Trash catalogue, it's something I've personally used and believe in.
    </p>
    <p>
      In a lot of ways, you can boil down my approach to Trash Bags to a couple of things: I come from a family of craftsmen, so I grew up around people who value detail and artistic integrity. I was a bike messenger for over ten years, a job that involves hard work, dedication and has a definite independent streak and I bring all of that background to Trash Bags. Each bag is a representation of those qualities: I hand select all of the materials that go into the bags, and on every bag, every bit of work, from the first cut of the raw fabric to the final stitch is done in shop.  I work hard to keep Trash’s supplies domestic whenever possible and will never sacrifice the quality of goods for the bottom line. It’s why I offer a <b>lifetime guarantee for every stitch</b> in your Trash Bag.
    </p>
    <h3>Each bag is unique, there will never be a factory pumping them out.</h3>
    <p>
      Trash will never be a huge company, but that’s by design.  I want to make you your bag, rather than a bag that just happens to be yours.  There will never be a factory pumping them out by the thousands, each bag being made by hundreds of hands in some factory location.  Everything gets made in our 800 square foot downtown Minneapolis workshop by one of three people trained in the craft that goes into every Trash Bag.
    </p>
    <p>
      Trash Bags continues to grow, but never at the expense of quality. You can be sure that if you order from Trash, you’ll be dealing directly with the people who will make your bag—we’re happy to answer your questions and help you get exactly the bag you want—details are important.
    </p>
    <p>
      We'd all like to thank you for supporting us and supporting small business in general.  Small business helps build and support all the communities we live in, and we like to keep this idea in mind when supporting our local cycing community in Minneapolis to the greater Messenger and cycling community worldwide.
    </p>
    <p>
      Cheers,
      <br>
      Andy
      <br>
      Trash Bags
    </p>
  </div>
  <div class="col-sm-4">
    <h3 class="top-border upcase">find trash bags</h3>
    <h4 class="top-border upcase gray">minneapolis</h4>
    <h5>Trash HQ</h5>
    <span class="about-address">
      505 North 3rd Street
      <br>
      11am-5pm, Mon-Fri
      <br>
    </span>
    <h5>Varsity Bike Shop</h5>
    <h5>Cherry Cycles</h5>
    <h5>The Alt</h5>
    <h5>Freewheel Midtown</h5>
    <h5>The Hub West Bank</h5>
    <h4 class="top-border upcase gray">chicago</h4>
    <h5>Comrade Cycles</h5>
    <h4 class="top-border upcase gray">Brooklyn</h4>
    <h5>King Kog</h5>
    <h4 class="top-border upcase gray">Los Angeles</h4>
    <h5>Orange 20</h5>
    <h4 class="top-border upcase gray">Tokyo</h4>
    <h5>ParkSIDER</h5>
  </div>
</div>
<div class="row about-row">
  <div class="col-sm-10 col-sm-offset-1 no-padding">
    <h3 class="upcase">trash crew</h3>
  </div>
  <div class="col-sm-12 no-padding">
    <div class="crew-portraits">
      <div class="col-xs-2 no-padding"></div>
      <div class="col-xs-4 no-padding">
        <img src="<%= asset_path('about/andy.png') %>" alt="loading..." class="img-responsive" />
      </div>
      <div class="col-xs-4 no-padding">
        <img src="<%= asset_path('about/anna.png') %>" alt="loading..." class="img-responsive" />
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-1 no-padding about-crew">
    <h4 class="about-crew-header">Andy</h4>
    <span class="about-crew-body">
      CEO / Janitor / Designer / Applique Art / Custom Stitching and Builds / Customer Service
    </span>
    <h4 class="about-crew-header">Anna</h4>
    <span class="about-crew-body">
      Design Consultant / Custom Stitching and Builds
    </span>
    <h4 class="about-crew-header">Greg</h4>
    <span class="about-crew-body">
      Design Consultant / Custom Stitching and Builds
    </span>
    <h4 class="about-crew-header">Stacie</h4>
    <span class="about-crew-body">
      Design Consultant / Custom Stitching and Builds
    </span>
    <h4 class="about-crew-header">Collin</h4>
    <span class="about-crew-body">
      Cutting and Shipping
    </span>
    <h4 class="about-crew-header">Cray</h4>
    <span class="about-crew-body">
      Cutting
    </span>
  </div>
</div>
