div.about.col-md-6.col-md-offset-1
	img src="<%= asset_path('andy-swag.jpg') %>" alt="loading..." width="100%"
	p Trash Bags was started in 2008 by me, Andy Larson, a longtime bike messenger (10 years +) from Minneapolis, MN.  Over the course of my courier career I used a variety of different bags. From old army issue backpacks to modern courier bags, each seemed to lack something in usability, be it ‘hauability’, comfort, or toughness.  I set out to make a messenger bag that was not only rugged tough and waterproof, but also comfortable and able to carry cargo - big and small, from envelopes to file boxes to food orders. With these goals in mind, Trash Bags was born.
	h3 These bags are tested & retested
	p I won’t let a bag design out of the shop without it passing extensive testing. We are constantly testing the bags on the streets of Minneapolis; Even the first edition Trash Bags are still in use, they can be found on the backs of messengers riding through downtown Minneapolis, standing the ultimate usability test - being put through the day-to-day abuse that only courier work can provide; also, I still work as a messenger and can assure you that Trash Bags can take whatever Minnesota weather can dish out.
	p I won’t let a bag design out of the shop without it passing extensive testing. We are constantly testing the bags on the streets of Minneapolis; Even the first edition Trash Bags are still in use, they can be found on the backs of messengers riding through downtown Minneapolis, standing the ultimate usability test - being put through the day-to-day abuse that only courier work can provide; also, I still work as a messenger and can assure you that Trash Bags can take whatever Minnesota weather can dish out. 
	h3 Each bag is unique, there will never be a factory pumping them out
	p Trash will never be a huge company, but that’s by design.  I want to make you your bag, rather than a bag that just happens to be yours.  There will never be a factory pumping them out by the thousands, each bag being made by hundreds of hands in some factory location.  Everything gets made in our 800 square foot downtown Minneapolis workshop.
	p Trash Bags continues to grow, but never at the expense of quality. You can be sure that if you order from Trash, you’ll be dealing directly with the people who will make your bag—we’re happy to answer your questions and help you get exactly the bag you want—details are important. 
	p  If you see me on the streets, stop and say hello. You can find me in the Trash workshop Mon – Fri, and out and about at bike events in Minneapolis and beyond.
	p Cheers, <br>Andy Larson<br> Trash Bags
div.about.col-md-4
	img src="<%= asset_path('andy-swag2.jpg') %>" alt="loading..." width="100%"
	p all USA inquries / questions in English can be sent to <a href="mailto:andy@trashmessengerbags.com">andy@trashmessengerbags.com</a>
	p for questions from Japan / in Japanese, please email <a href="mailto:ryota@trashmessengerbags.com"> ryota@trashmessengerbags.com</a>
	p Where to find Trash Bags:
	h2 Minneapolis

	h3 Trash HQ
	p 515 Washington Ave N, 3rd FL<br>12pm - 6pm, Mon - Fri
 
	h3 Behind Bars 

	p 208 13th Ave NE <br><a href="www.behind-bars.com">behind-bars.com</a>

	h3 Varsity Bike Shop
	p 1316 SE 4th St <br><a href="www.varsitybike.com">varsitybike.com</a>

	h3 Alleycat Cycles
	p 1621 Harmon Pl <br><a href="www.alleycatcyclesloring.com">alleycatcyclesloring.com</a>

	h3 The Alt
	p 3013 Lyndale Ave S<br><a href="www.altbikeboard.com">altbikeboard.com</a>

	h3 Freewheel Midtown
	p 2834 10th Ave S <br><a href="www.freewheelbike.com">freewheelbike.com</a>

	h3 The Hub West Bank
	p 301 Cedar Ave S <br><a href="www.thehubbikecoop.org">thehubbikecoop.org</a>

	h2 Chicago

	h3 Comrade Cycles
	p 1908 W Chicago Ave <br><a href="www.comradecycles.com">comradecycles.com</a>

	h2 Cleveland

	h3 Joy Machines
	p 1836 West 25th Street <br><a href="www.joymachinesbikeshop.com">joymachinesbikeshop.com</a>

	h2 Brooklyn

	h3 King Kog
	p 453 Graham Ave <br><a href="kingkog.bigcartel.com">kingkog.bigcartel.com</a>

	h3 718 Cyclery
	p 254 3rd Ave <br><a href="www.718c.com">718c.com</a>

	h2 Washington DC

	h3 Rollin Cycles
	p 1314 - A 14th St. NW <br><a href="www.rollincyclesdc.com">rollincyclesdc.com</a>

	h2 Los Angeles

	h3 Orange 20
	p 4351 Melrose <br><a href="www.orange20bikes.com">orange20bikes.com</a>

	h2 Hong Kong

	h3 Rodafixa
	p A17, Blk A, 7/F, 20 Hing Yip St <br><a href="www.facebook.com/rodafixa">rodafixa</a>

	h2 Tokyo

	h3 ParkSIDER
	p 1-10-5 1F Higashi-Azabu Minato-Ku <br><a href="www.parksider.com">parksider.com</a>