<div class="catalogue-item-image">
  <img {{bind-attr src="activeSlide.large_url"}} />
</div>
<div class="catalogue-item-thumbs">
  {{#each thumbnails}}
    {{carousel-thumbnail classNames="thumb" mini_url=mini_url index=index activeIndex=activeIndex action="setSlide"}}
  {{/each}}
</div>