<div class="col-main-body">
  <div class="row bottom-border">
    <div class="catalogue-tile col-sm-3">
      <img src="<%= asset_path('cataloguetile.png') %>" alt="loading..." class="img-responsive" />
      <h3 class="capitalize">bag name</h3>
      <span class="price">$185</span>
      <span class="gray capitalize">Short bag description</span>
    </div>
    <div class="catalogue-tile col-sm-3">
      <img src="<%= asset_path('cataloguetile.png') %>" alt="loading..." class="img-responsive" />
      <h3 class="capitalize">bag name</h3>
      <span class="price">$185</span>
      <span class="gray capitalize">Short bag description</span>
    </div>
  </div>
  <div class="row-line-item">
    <div class="col-sm-3 line-item">
      <div class="head">
        <span class="capitalize">shopping cart</span>
      </div>
      <img src="<%= asset_path('custom1.png') %>" alt="loading..." class="img-responsive" />
      <div class="checkout">
      </div>
    </div>
  </div>
</div>